{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dashboard{% endblock %}</title>

  <link rel="icon" href="{% static 'assets/img/logo-rs.png' %}">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/sidenav.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/rekomendasi-view.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/revise.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/soft-ui-dashboard-tailwind.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/nucleo-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/nucleo-svg.css' %}">

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    rel="stylesheet">

  <!-- FontAwesome (cukup sekali) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body class="bg-gray-50 text-slate-500">

  <!-- SIDENAV -->
  {% include "layout/sidenav.html" %}

  <!-- MAIN CONTENT -->
  <main class="xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all">

    <!-- HEADER -->
    {% include "layout/header.html" %}

    <!-- PAGE CONTENT -->
    {% block content %}{% endblock %}

    <!-- FOOTER -->
    {% include "layout/footer.html" %}

  </main>

  <!-- JS (letakkan DI BAWAH) -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'assets/js/sidenav-burger.js' %}"></script>
  <script src="{% static 'assets/js/soft-ui-dashboard-tailwind.js' %}"></script>

  <!-- JS tambahan per halaman -->
  {% block extra_js %}{% endblock %}
</body>
</html>
