<nav class="relative flex flex-wrap items-center px-0 py-2 mx-6 rounded-2xl">

  <div class="flex items-center w-full px-4 py-1 mx-auto">
    <nav>
      <!-- breadcrumb -->
      <ol class="flex flex-wrap pt-1 bg-transparent rounded-lg">
        <li class="leading-normal text-sm">
          <span class="opacity-50 text-slate-700">Pages</span>
        </li>
        <li
          class="text-sm pl-2 capitalize leading-normal text-slate-700
                 before:pr-2 before:text-gray-600 before:content-['/']">
          {{ page_name|default:"Dashboard" }}
        </li>
      </ol>

      <!-- page title -->
      <h6 class="mb-0 font-bold capitalize">
        {{ page_title|default:"Dashboard" }}
      </h6>
    </nav>
  </div>

</nav>
