{% extends "layout/base.html" %}
{% load static %}
{% block title %}Kelola Akun{% endblock %}

{% block content %}
<div class="w-full px-6 py-6 mx-auto">

  <div
    class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">

    <!-- HEADER CARD -->
    <div
      class="p-6 pb-0 mb-0 bg-white rounded-t-2xl flex justify-between items-center">
      <h5 class="font-bold text-slate-700">Kelola Akun</h5>
      <a href="{%url 'tambah_akun' %}"
        class="inline-block px-6 py-3 font-bold text-white uppercase text-xs rounded-lg shadow-soft-md bg-gradient-to-tl from-blue-600 to-cyan-400 hover:scale-102 transition-all">
        Tambah Akun
      </a>
    </div>

    <!-- TABLE -->
    <div class="flex-auto px-0 pt-0 pb-2">
      <div class="overflow-x-auto">
        <table class="w-full mb-0 align-top border-gray-200 text-slate-500">

          <!-- THEAD -->
          <thead>
            <tr>
              <th
                class="px-6 py-3 text-left text-xxs font-bold uppercase text-slate-400 border-b">
                Nama Lengkap
              </th>
              <th
                class="px-6 py-3 text-left text-xxs font-bold uppercase text-slate-400 border-b">
                Username
              </th>
              <th
                class="px-6 py-3 text-center text-xxs font-bold uppercase text-slate-400 border-b">
                Email
              </th>
              <th
                class="px-6 py-3 text-center text-xxs font-bold uppercase text-slate-400 border-b">
                Role
              </th>
              <th
                class="px-6 py-3 text-center text-xxs font-bold uppercase text-slate-400 border-b">
                Aksi
              </th>
            </tr>
          </thead>

          <!-- TBODY -->
          <tbody>
            {% for user in users %}
            <tr>

              <!-- Nama -->
              <td class="p-2 border-b">
                <div class="px-4 py-1">
                  <h6 class="text-sm font-semibold text-slate-400">
                    {{ user.nama_lengkap }}
                  </h6>
                </div>
              </td>

              <!-- Username -->
              <td class="p-2 border-b">
                <p class="text-xs font-semibold text-slate-400">
                  {{ user.username }}
                </p>
              </td>

              <!-- Email -->
              <td class="p-2 text-center border-b">
                <span class="text-xs font-bold text-slate-700">
                  {{ user.email }}
                </span>
              </td>

              <!-- Role -->
              <td class="p-2 text-center border-b">
                <span class="text-xs font-semibold text-blue-400">
                  {{ user.role }}
                </span>
              </td>

              <!-- Aksi -->
              <td class="p-2 text-center border-b">
                <div class="inline-flex items-center">
                  <a href="#"
                    class="text-xs font-semibold text-slate-400 hover:text-blue-500">
                    Edit
                  </a>

                  <span class="mx-3 text-slate-300">|</span>

                  <a href="#"
                    class="text-xs font-semibold text-red-500 hover:opacity-100">
                    hapus
                  </a>
                </div>
              </td>

            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>

  </div>
</div>
{% endblock %}
