{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="apple-touch-icon" href="{% static 'assets\img\logo-rs.png' %}">
  <link rel="icon" type="image/png" href="{% static 'assets\img\logo-rs.png' %}">

  <title>{% block title %}Dashboard{% endblock %}</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

  <!-- Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/soft-ui-dashboard-tailwind.css' %}" rel="stylesheet">
</head>
